<div class="about-event">
  <div class="about-event__container">
    <div class="about-event__steps">
      <app-stepper></app-stepper>
    </div>
    <div class="about-event__header">
      <app-header></app-header>
    </div>
    <div class="main-info">
      <app-form-event (formSubmitted)="isFormValid = $event"></app-form-event>
      <app-summary-info></app-summary-info>
    </div>
    <div class="submit-form">
      <app-submit-button [isFormValid]="isFormValid" (switchView)="switchView.emit()"></app-submit-button>
    </div>
  </div>
</div>
