.about-event {
  padding: 70px;
  &__container {
    background: var(--light-gray-color);
    border: 1px dashed var(--violet-color);
    border-radius: 30px;
    padding: 70px;
  }
  &__header {
    padding: 60px 0 40px 0;
  }
}
