<div class="stepper">
  <div class="stepper__items">
    <ng-container *ngFor="let item of items; let i = index">
      <button
        class="stepper__item"
        [id]="'step-' + i"
        [ngClass]="{active: i < activeStepsCount, inactive: i >= activeStepsCount}">
        <span class="btn-number">{{ i + 1 }}</span>
      </button>
      <label
        class="stepper__item-label"
        [for]="'step-' + i"
        [ngClass]="{inactive: i >= activeStepsCount}">
        {{ item.label }}
      </label>
    </ng-container>
  </div>
</div>
