.stepper {
  display: flex;
  justify-content: start;
  &__items {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  &__item {
    background: var(--gray-color);
    color: var(--light-color);
    border-radius: 50%;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    & .btn-number {
      font-weight: 500;
      font-size: 20px;
      opacity: 0.5;
      color: var(--dark-blue-color);
    }
    &.active .btn-number {
      color: var(--light-color);
      opacity: 1;
    }
    &.active {
      background: var(--dark-blue-color);
    }
  }
}

.stepper__item-label {
  font-weight: 500;
  font-size: 20px;
  margin-right: 40px;
  &.inactive {
    color: var(--dark-blue-color);
    opacity: 0.5;
  }
}
