.header {
  &__container {
    display: flex;
    gap: 44px;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: var(--dark-blue-color);
  }
}
