 <div class="wrapper-info">
      <div class="container-info">
        <app-timer-reset></app-timer-reset>
        <mat-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="eventForm.eventInfoForm" [editable]="isEditable">
            <ng-template matStepLabel>Мероприятие</ng-template>
            <app-material-form-event #eventForm>
              <app-summary-info
                [costPerPerson]="selectedEventCost"
                [totalAdditionalServicesCost]="totalAdditionalServicesCost"
                [date]="selectDate"
                [countGuests]="selectCountGuest"
                [formEventName]="selectedEventName">
              </app-summary-info>
            </app-material-form-event>
            <app-material-submit-button [title]="'Продолжить'"></app-material-submit-button>
          </mat-step>
          <mat-step [stepControl]="contactsForm.aboutInfoForm" [editable]="isEditable">
            <ng-template matStepLabel>Контакты</ng-template>
            <app-material-form-contacts #contactsForm>
              <app-summary-info
                [costPerPerson]="selectedEventCost"
                [totalAdditionalServicesCost]="totalAdditionalServicesCost"
                [date]="selectDate"
                [countGuests]="selectCountGuest"
                [formEventName]="selectedEventName">
              </app-summary-info>
            </app-material-form-contacts>
            <app-material-submit-button [title]="'Отправить заявку'" (click)="onSubmit()"></app-material-submit-button>
          </mat-step>
        </mat-stepper>
      </div>
 </div>
