<form class="form-event" [formGroup]="eventInfoForm">
  <span class="form-event__title">Выберите формат мероприятия</span>
  <div class="form-event__group" id="radio-group">
    <div *ngFor="let listEventName of eventName">
      <label class="custom-radio" [class.custom-radio__selected]="listEventName.name === selectedEventName">
        <input
          type="radio"
          [value]="listEventName.name"
          [formControl]="eventInfoForm.controls.formEventName"
          (change)="onRadioChange(listEventName.name)"
        />
        <span>{{ listEventName.name }}</span>
      </label>
    </div>
    <small *ngIf="eventInfoForm.controls.formEventName.hasError('required') && eventInfoForm.controls.formEventName.touched" class="error">Обязательное поле</small>
  </div>
  <div class="form-event__group">
    <input id="countGuest" type="number" placeholder="Количество гостей" [formControl]="eventInfoForm.controls.countGuests">
    <div class="form-event__group-sub-info">
      <span>От 10 человек</span>
      <span>До 100 человек</span>
    </div>
    <small *ngIf="eventInfoForm.controls.countGuests.hasError('required') && eventInfoForm.controls.countGuests.touched" class="error">Обязательное поле</small>
    <small *ngIf="eventInfoForm.controls.countGuests.hasError('min') && eventInfoForm.controls.countGuests.touched" class="error">Количество гостей меньше минимального</small>
    <small *ngIf="eventInfoForm.controls.countGuests.hasError('max') && eventInfoForm.controls.countGuests.touched" class="error">Количество гостей больше максимального</small>
  </div>
  <div class="form-event__group">
    <input id="date" type="date" placeholder="Дата мероприятия:" [formControl]="eventInfoForm.controls.date">
    <small *ngIf="eventInfoForm.controls.date.hasError('required') && eventInfoForm.controls.date.touched" class="error">Обязательное поле</small>
  </div>
  <div class="form-event__group">
    <div class="dropdown" (click)="toggleDropdown()">
      <button class="dropdown-toggle" type="button" id="additionServiceDropdown" aria-expanded="false">
        Дополнительные услуги: {{ formattedServicesText }}
        <span class="dropdown-icon">
          <img *ngIf="!dropdownOpen" ngSrc="assets/img/dropdownClose.svg" height="20" width="20" alt="Сlosed dropdown">
          <img *ngIf="dropdownOpen" ngSrc="assets/img/dropdownOpen.svg" height="20" width="20" alt="Open dropdown">
        </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="additionServiceDropdown" [class.show]="dropdownOpen">
        <li *ngFor="let service of addService" (click)="onServiceSelect($event, service.name)">
          <span>{{ service.name }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-event__group">
    <input id="wishes" type="text" placeholder="Напишите пожелания по меню" [formControl] = "eventInfoForm.controls.menuWishes">
  </div>
</form>
