<div class="contacts">
  <div class="contacts__container">
    <div class="about-event__steps">
      <app-stepper></app-stepper>
    </div>
    <div class="contacts__header">
      <app-header [title]="'Расскажите о себе'"></app-header>
    </div>
    <div class="contacts__main-info">
      <app-form-contacts (formSubmitted)="isFormValid = $event"></app-form-contacts>
      <app-summary-info></app-summary-info>
    </div>
    <div class="submit-form">
      <app-submit-button [title]="'Отправить заявку'" [isFormValid]="isFormValid"></app-submit-button>
    </div>
  </div>
</div>
