<div class="contacts">
  <div class="contacts__container">
    <div class="about-event__steps">
      <ng-content select="app-stepper"></ng-content>
    </div>
    <div class="contacts__header">
      <app-header [title]="'Расскажите о себе'"></app-header>
    </div>
    <div class="contacts__main-info">
      <app-form-contacts (formSubmitted)="isFormValid = $event"></app-form-contacts>
      <app-summary-info></app-summary-info>
    </div>
    <ng-content></ng-content>
      <div class="submit-form">
        <ng-content select="app-submit-button"></ng-content>
      </div>
  </div>
</div>
