<form class="form-contacts" [formGroup]="aboutInfoForm">
  <div class="form-contacts__group">
    <input id="name" type="text" placeholder="Ваше имя" [formControl]="aboutInfoForm.controls.userName">
    <small *ngIf="aboutInfoForm.controls.userName.hasError('required') && aboutInfoForm.controls.userName.touched" class="error">Обязательное поле</small>
  </div>
  <div class="form-contacts__group">
    <input id="phoneNumber" type="text" placeholder="Мобильный телефон" appPhoneMask [formControl]="aboutInfoForm.controls.phoneNumber">
    <small *ngIf="aboutInfoForm.controls.phoneNumber.hasError('required') && aboutInfoForm.controls.phoneNumber.touched" class="error">Обязательное поле</small>
  </div>
  <div class="form-contacts__group">
    <input id="email" type="text" placeholder="Электронная почта" [formControl]="aboutInfoForm.controls.email">
    <small *ngIf="aboutInfoForm.controls.email.hasError('email') && aboutInfoForm.controls.email.touched" class="error">Неверный формат электронной почты</small>
  </div>
</form>
